---
image:
  name: ansible-lint:mars-custom
  entrypoint: [""]

stages:
  - build # Simulate build
  - test
  # - review done through merge request
  - deploy # Simulate deploy
  


Build:
  stage: build
  script: 
    - echo "Build simulation completed"


Unit Test:
  stage: test
  script:
    - python -m tests.test_app
  
Anisble Connectivity Test:
  stage: test
  script:
    - 'curl -X GET https://ansible.apps.mars -k |grep "working..."'

Deploy:
  stage: deploy
  script:
    - echo "Deploy simulation completed"





